/* orange color - #e67e22 */

/* ------------------------------------------------------ */
/* BASIC SETUP*/
/* ------------------------------------------------------ */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: rgb(56, 56, 56);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both; 
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------------------ */
/* RESUABLE COMPONENTS*/
/* ------------------------------------------------------ */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.photo {
  width: 100%;
  margin: 0;
  overflow: hidden; 
  background-color: #000;
}

.box {
  float: left;
  border: 1px solid blue;
}

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* ------------------------------------------------------ */
/* PARAGRAPHS */
/* ------------------------------------------------------ */



/* ------------------------------------------------------ */
/* Icons */
/* ------------------------------------------------------ */


/* ------------------------------------------------------ */
/* LINKS */
/* ------------------------------------------------------ */



/* ------------------------------------------------------ */
/* BUTTONS */
/* ------------------------------------------------------ */



/* ------------------------------------------------------ */
/* HEADER*/
/* ------------------------------------------------------ */



/* ------------------------------------------------------ */
/* NAVIGATION */
/* ------------------------------------------------------ */

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#logo {
  float: left;
  display: block;

}

/* ------------------------------------------------------ */
/* FEATURES */
/* ------------------------------------------------------ */


/* ------------------------------------------------------ */
/* MEALS */
/* ------------------------------------------------------ */
 



/* ------------------------------------------------------ */
/* HOW IT WORKS */
/* ------------------------------------------------------ */



/* ------------------------------------------------------ */
/* CITIES */
/* ------------------------------------------------------ */


/* ------------------------------------------------------ */
/* TESTIMONIALS */
/* ------------------------------------------------------ */


/* ------------------------------------------------------ */
/* SIGN UP */
/* ------------------------------------------------------ */



/* ------------------------------------------------------ */
/* FORM */
/* ------------------------------------------------------ */

